// Color
$orange: rgb(223, 85, 27);

// Light color pannel
$bg-light-1: #ffffff;
$bg-light-2: #cccccc;
$bg-light-3: #999999;
$bg-light-4: #656565;
$bg-light-5: #313131;
$bg-light-6: #1e1e1e;

$text-light-1: #1e1e1e;

// Dark color pannel
$bg-dark-1: #1e1e1e;
$bg-dark-2: #313131;
$bg-dark-3: #656565;
$bg-dark-4: #999999;
$bg-dark-5: #cccccc;
$bg-dark-6: #ffffff;

$text-dark-1: #ffffff;
